name: Check Source Branch
on:
  pull_request:
    branches:
      - master

jobs:
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Verify source branch
        if: github.head_ref != 'develop'
        run: |
          echo "Error: Solo se permiten merges a 'main' desde la rama 'develop'."
          exit 1
