name: Check Source Branch
on:
  pull_request:
    branches:
      - main

jobs:
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Verify source branch
        shell: bash
        run: |
          if [ "${{ github.head_ref }}" = "develop" ]; then
            echo "✅ Pull request desde develop permitido."
          else
            echo "❌ Error: Solo se permiten merges a 'main' desde la rama 'develop'."
            echo "Rama intentada: ${{ github.head_ref }}"
            exit 1
          fi
